 @font-face {
   font-family: myfont;
   src:  url('./consolas.ttf') format('ttf');
   font-weight: 600;
   font-style: normal;
 }

.hello {
    color: red;
    font-family: myfont;
    background: url('./logo.svg');
}